<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>R U Done Yet?</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Cabin:400,500,700,600' rel='stylesheet' type='text/css'>

  <script src="components/webcomponentsjs/webcomponents-lite.min.js"></script>
  <link rel="import" href="components/paper-styles/color.html">
  <link rel="import" href="components/paper-card/paper-card.html">
  <link rel="import" href="components/paper-button/paper-button.html">
    <link rel="import" href="components/paper-checkbox/paper-checkbox.html">
  <link rel="import" href="components/paper-icon-button/paper-icon-button.html">
  <link rel="import" href="components/iron-icons/iron-icons.html">
  <link rel="import" href="components/iron-flex-layout/iron-flex-layout.html">

  <link rel="stylesheet" href="components/paper-styles/demo.css">

  <!--<link rel="shortcut icon" href="/images/favicon.ico" />-->

  <style is="custom-style">

    body {
      background-color: var(--paper-grey-50);
    }

    #cards {
      @apply(--layout-vertical);
      @apply(--center-justified);
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    paper-card {
      width: 100%;
      margin-bottom: 8px;
      background-color: var(--paper-blue-grey-50);
    }

    paper-card.done {
      background-color: var(--paper-grey-500);
    }

    .horizontal-section {
      min-width: 130px;
    }
    paper-button {
      display: inline;
    }
    paper-button.blue {
      color: var(--paper-light-blue-500);
      --paper-button-flat-focus-color: var(--paper-light-blue-50);
    }
    paper-button.blue:hover {
      background: var(--paper-light-blue-50);
    }
    paper-button.red {
      color: var(--paper-red-500);
      --paper-button-flat-focus-color: var(--paper-red-50);
    }
    paper-button.red:hover {
      background: var(--paper-red-50);
    }
    paper-button.green {
      color: var(--paper-green-500);
      --paper-button-flat-focus-color: var(--paper-green-50);
    }
    paper-button.green:hover {
      background: var(--paper-green-50);
    }
    paper-button.orange {
      color: var(--paper-orange-500);
      --paper-button-flat-focus-color: var(--paper-orange-50);
    }
    paper-button.orange:hover {
      background: var(--paper-orange-50);
    }
    paper-button.hover:hover {
      background: #eee;
    }
    paper-button.ripple {
      --paper-button-ink-color: var(--paper-pink-a200);
    }

    paper-checkbox {
        display: inline;
        margin-bottom: 40px;
      }
      paper-checkbox.blue {
        --paper-checkbox-checked-color: var(--paper-light-blue-500);
        --paper-checkbox-checked-ink-color: var(--paper-light-blue-500);
        --paper-checkbox-unchecked-color: var(--paper-light-blue-900);
        --paper-checkbox-unchecked-ink-color: var(--paper-light-blue-900);
      }
      paper-checkbox.red {
        --paper-checkbox-checked-color: var(--paper-red-500);
        --paper-checkbox-checked-ink-color: var(--paper-red-500);
        --paper-checkbox-unchecked-color: var(--paper-red-900);
        --paper-checkbox-unchecked-ink-color: var(--paper-red-900);
      }
      paper-checkbox.green {
        --paper-checkbox-checked-color: var(--paper-green-500);
        --paper-checkbox-checked-ink-color: var(--paper-green-500);
        --paper-checkbox-unchecked-color: var(--paper-green-900);
        --paper-checkbox-unchecked-ink-color: var(--paper-green-900);
      }
      paper-checkbox.orange {
        --paper-checkbox-checked-color: var(--paper-orange-500);
        --paper-checkbox-checked-ink-color: var(--paper-orange-500);
        --paper-checkbox-unchecked-color: var(--paper-orange-900);
        --paper-checkbox-unchecked-ink-color: var(--paper-orange-900);
      }

  </style>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
