<!DOCTYPE html>
<html>
  {{> head}}
  <body unresolved>

    <div class="rootContainer">

      <div class="headerContainer">
        <h1>Choose a board</h1>
      </div>

      <div class="documentContainer">

        {{#each boards}}
          <div class="board">
            <h3>{{name}}</h3>
            <a href="/chooseBoard/{{id}}" class="button">select</a>
          </div>
        {{/each}}

      </div>
    </div>

  </body>
</html>
