<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <h1>Are You Done Yet?</h1>
    <p>
      {{board.name}}
    </p>

    {{#each cards}}
      <p>
        <span {{#if this.done}} style="color: grey"{{/if}}>
          {{this.name}}
        </span>
      </p>
    {{/each}}
  </body>
</html>
