body {
    background-color: #e9ece5;
}

.rootContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 80%;
  justify-content:space-around;
  background-color:  #3b3a36;
  color: white;
  font-size: 20px;
  align-items: center;
}

.documentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.board {
  width: 80%;
  margin: 10px 10% 10px 10%;
  background-color: #c0dfd9;
  border: 2px solid;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  width: 80%;
  margin: 10px 10% 10px 10%;
  background-color: #c0dfd9;
  border: 2px solid;
  border-radius: 25px;
  padding: 10px;
}

.cardTitle {
  font-size: 125%;
  font-weight: bold;
  flex-basis: 50%;
}

.cardActions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 35px;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}

.done {
  background-color: #b3c2bf;
}

.actionsItem {
  margin: 10px;
  padding: 5px;
  flex-basis: 15%;
  justify-content: center;
  align-items: center;
}

.button {
  border-radius:6px;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  border:none;
  color: #b3c2bf;
  background-color: #3b3a36;
}

.actionsFiller {
  flex-basis: 20%;
}

.section a:visited {
  color: #3b3a36;
}

.section a:link {
  color: #3b3a36;
}

.section a:hover {
  color: #b3c2bf;
}

a.button:visited {
  color: #b3c2bf;
}

a.button:link {
  color: #b3c2bf;
}

a.button:hover {
  color: #c0dfd9;
}

.justified {
  text-align: center;
}

a {
  text-decoration: none;
}

.outer {
    width: 20px;
    height: 20px;
    margin: 3px;
    border-radius: 50%;
    background: #c0dfd9;
}

.inner {
    width: 50%;
    height: 50%;
    background: c0dfd9;
    border-radius: 50%;
    position: relative;
    top: 25%;
    left: 25%;
}

.dark {
  background-color: #3b3a36;
}
