body {
    background-color: #e9ece5;
}

.rootContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 80%;
  justify-content:space-around;
  background-color:  #3b3a36;
  color: white;
  font-size: 20px;
  align-items: center;
}

.documentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.detailsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.section {
  width: 80%;
  margin: 10px 10% 10px 10%;
  background-color: #c0dfd9;
  border: 2px solid;
  border-radius: 25px;
  padding: 10px;
}

.done {
  background-color: #b3c2bf;
}

.detailsItem {
  flex-grow: 1;
}

.fourItems {
  flex: 1 1 25%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fourItems img {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.circle {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
  color: #b3c2bf;
  background-color: #3b3a36;
}

.section a:visited {
  color: #3b3a36;
}

.section a:link {
  color: #3b3a36;
}

.section a:hover {
  color: #b3c2bf;
}

a.button:visited {
  color: #b3c2bf;
}

a.button:link {
  color: #b3c2bf;
}

a.button:hover {
  color: #c0dfd9;
}

.video {
  margin: 10px;
}

.button {
  margin: 10px;
  border-radius:6px;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  border:none;
  padding: 10px;
  color: white;
  background-color: #3b3a36;
}

.justified {
  text-align: center;
}

a {
  text-decoration: none;
}
